<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasky.starter.etcd.web.mapper.LotteryMapper">

    <resultMap id="BaseResultMap" type="com.seasky.starter.etcd.web.entity.Lottery">
        <result column="lId" jdbcType="BIGINT" property="lId"/>
        <result column="strWinNumber" jdbcType="VARCHAR" property="strWinNumber"/>
        <result column="dtWinTime" jdbcType="VARCHAR" property="strWinTime"/>
        <result column="nRed1" jdbcType="INTEGER" property="nRed1"/>
        <result column="nRed2" jdbcType="INTEGER" property="nRed2"/>
        <result column="nRed3" jdbcType="INTEGER" property="nRed3"/>
        <result column="nRed4" jdbcType="INTEGER" property="nRed4"/>
        <result column="nRed5" jdbcType="INTEGER" property="nRed5"/>
        <result column="nRed6" jdbcType="INTEGER" property="nRed6"/>
        <result column="strReds" jdbcType="VARCHAR" property="strReds"/>
        <result column="nBlue" jdbcType="INTEGER" property="nBlue"/>
        <result column="dtCreateTime" jdbcType="DATE" property="dtCreateTime"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>

    <select id="getlotteryByWinNumber" resultType="java.lang.String">
        select strWinNumber from tblottery where strWinNumber=#{strWinNumber}
    </select>

    <select id="getlotteryCount" resultType="java.lang.Long">
        select count(1) from tblottery
    </select>

    <select id="getlotteries" resultMap="BaseResultMap">
        <choose>
            <when test="strReds !=null and strReds.length > 0">
                select *,sum(cou) score from
                (
                <foreach item="item" index="key" collection="strReds">
                    <if test="key == 0">
                        select *,CASE WHEN find_in_set(#{item},strReds)>0 then 1  else 0 end cou from tblottery
                        <where>
                            find_in_set(#{item},strReds)>0
                            <if test="strWinNumber != null">
                                AND strWinNumber = "%"#{strWinNumber}"%"
                            </if>
                            <if test="dtWinTimeStart != null">
                                AND dtWinTime >= #{dtWinTimeStart}
                            </if>
                            <if test="dtWinTimeEnd != null">
                                AND dtWinTime &lt;= #{dtWinTimeEnd}
                            </if>
                        </where>
                    </if>
                    <if test="key != 0">
                        UNION ALL
                        select *,CASE WHEN find_in_set(#{item},strReds)>0 then 1  else 0 end cou from tblottery
                        <where>
                            find_in_set(#{item},strReds)>0
                            <if test="strWinNumber != null">
                                AND strWinNumber like "%"#{strWinNumber}"%"
                            </if>
                            <if test="dtWinTimeStart != null">
                                AND dtWinTime >= #{dtWinTimeStart}
                            </if>
                            <if test="dtWinTimeEnd != null">
                                AND dtWinTime &lt;= #{dtWinTimeEnd}
                            </if>
                        </where>
                    </if>
                </foreach>
                ) tt
                GROUP BY lId ORDER BY score desc ,strWinNumber desc limit 30;
            </when>
            <otherwise>
                select * from tblottery
                <where>
                    <if test="strWinNumber != null">
                        strWinNumber like "%"#{strWinNumber}"%"
                    </if>
                    <if test="dtWinTimeStart != null">
                        AND dtWinTime >= #{dtWinTimeStart}
                    </if>
                    <if test="dtWinTimeEnd != null">
                        AND dtWinTime &lt;= #{dtWinTimeEnd}
                    </if>
                </where>
                ORDER BY strWinNumber desc limit 30;
            </otherwise>
        </choose>

    </select>

    <insert id="insertLottery" parameterType="java.util.List" useGeneratedKeys="true">
        insert into tblottery
        ( strWinNumber,dtWinTime,nRed1,nRed2,nRed3,nRed4,nRed5,nRed6,strReds,nBlue,dtCreateTime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.strWinNumber},
            #{item.strWinTime},
            #{item.nRed1},
            #{item.nRed2},
            #{item.nRed3},
            #{item.nRed4},
            #{item.nRed5},
            #{item.nRed6},
            #{item.strReds},
            #{item.nBlue},
            now()
            )
        </foreach>
    </insert>

</mapper>
